name: auth-service

replicaCount: 1

image:
  repository: 879381276515.dkr.ecr.ap-northeast-2.amazonaws.com/aigungbu/service-images
  tag: dc8d47f09f185cfa99cf10fd80ec47793cbb64f4
  pullPolicy: IfNotPresent

containerPort: 9001

service:
  type: ClusterIP
  port: 80
