name: auth-service

replicaCount: 1

image:
  repository: 879381276515.dkr.ecr.ap-northeast-2.amazonaws.com/aigungbu/service-images
  tag: c320bc5b1bd67cf53c2fac913593ebf1d5801bbf
  pullPolicy: IfNotPresent

containerPort: 80

env:
  - name: SPRING_PROFILES_ACTIVE
    value: dev
  - name: CONFIG_SERVER_URL
    value: http://config-service:8888
  - name: VAULT_URI
    value: 
  - name: VAULT_TOKEN
    value: 

service:
  type: ClusterIP
  port: 80

