name: auth-service

replicaCount: 1

image:
  repository: 879381276515.dkr.ecr.ap-northeast-2.amazonaws.com/aigongbu/service-images
  tag: f4dc34d0f6f84ce0b750b2abb9fc1fced0ec0708
  pullPolicy: IfNotPresent

containerPort: 80

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 300m
    memory: 384Mi

env:
  - name: SPRING_PROFILES_ACTIVE
    value: dev
  - name: CONFIG_SERVER_URL
    value: __CONFIG_SERVER_URL__
  - name: VAULT_URI
    value: __VAULT_URI__
  - name: VAULT_TOKEN
    value: __VAULT_TOKEN__

service:
  type: ClusterIP
  port: 80

