name: auth-service

replicaCount: 1

image:
  repository: 879381276515.dkr.ecr.ap-northeast-2.amazonaws.com/aigongbu/service-images
  tag: 29c9f839c4e9b821bf13a535719f55f99efc07e9
  pullPolicy: IfNotPresent

containerPort: 80

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 300m
    memory: 384Mi

service:
  type: ClusterIP
  port: 80

