name: auth-service

replicaCount: 1

image:
  repository: 879381276515.dkr.ecr.ap-northeast-2.amazonaws.com/aigungbu/service-images
  tag: 2fe34d3775a02f12865083e6ba466e1eb0ac49d2
  pullPolicy: IfNotPresent

containerPort: 80

env:
  - name: SPRING_PROFILES_ACTIVE
    value: dev

service:
  type: ClusterIP
  port: 80
