name: auth-service

replicaCount: 1

image:
  repository: 879381276515.dkr.ecr.ap-northeast-2.amazonaws.com/aigongbu/service-images
  tag: b3345f70bd4a4ebaee3012386355cb332c72859e
  pullPolicy: IfNotPresent

containerPort: 80

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 300m
    memory: 384Mi

service:
  type: ClusterIP
  port: 80

